body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
    position: relative;
}

.title {
    width: 60px;
    padding: 0;
    margin: 3px;
    display: inline;
}

.point {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 3px;
    border-radius: 50%;
    border: 1px solid black;
}

.date {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 3px;
}

.point.filled {
    background-color: gray;
}

.point:hover {
    cursor: pointer;
}

body #password {
    width: 100px;
    height: 20px;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}